/* start HEADER */
header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(73, 73, 73);
    height: 20px;
    width: 100vw;
    padding: 10px 55px;
    color: white;
}
ul {
    display: inline;
}

.rightside {
    margin-right: 200px;
}


#header_logo {
    position: absolute;
    /* top: 10px;
    left: 10px; */
    padding: 10px;
    height: 10px;
    width: 10px;
    /* background-color: black; */
}

div>input{
    color: rgb(218, 216, 216);
    padding: 3px;
    background-color: rgba(165, 164, 164, 0.5);
    border-radius: 4px;
    border: none;
}

li {
    display: inline;
    margin: 5px;
}
/* END HEADER  start TOP SECTION*/

.topsection {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6em;
    position: relative;
    width: 75vw;

    border: 1px solid gray;
    margin: 15px auto;
    margin-bottom: 40px;
    padding: 10px;
}
.topsection .title{
    font-size: 2.3em;
    margin-bottom: 20px;
}
.avatarContainer{
    font-size: 1em;
    /* display: inline; */
    /* border: 2px solid rgba(0, 0, 0, 0.37); */
    height: 25px;
    width: 30%;
    margin:12px 0 51px 0;
    display: flex;
}
.avatarContainer .security{
    font-size: 1.2em;
    color: rgb(0, 0, 97);

}
.avatarimage{
    background-color: rgba(10, 96, 207, 0.425);
    height:100%;
    width:25px;
    margin-right:5px;
}

.security{
    margin-top: 3px;
}

.avatarUl a:focus {
    border: 1px solid rgba(128, 128, 128, 0.541);
    margin: 0px;
    padding: 3px 10px 9px 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: black;
}
.avatarUl a {
    text-decoration-line: none;
}
.avatarUl{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.topsection li{
color: rgb(18, 1, 165);
}
.topsection li:focus{
color: rgb(0, 0, 3);
}
.right{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top:10px;
    right:10px;
    height: 75px;
    width: 275;
    /* border: 1px solid palevioletred; */
}
.edit, .actions{
    padding: 0 15px;
}
.edit {
    border-right: 1px solid rgba(128, 128, 128, 0.473);
}
.projectContainer{
    position: relative;
    display: flex;
    width: 150%;
    margin-top:9px;
    border: 1px solid rgb(208, 211, 250);
    background-color: rgb(243, 251, 253);
}
.status, .condition, .planned_completion{
    width:33%;
    padding:10px;
    /* border: 1px solid black; */
}
.projectVariable{
    font-size: 1.4em;
    margin: 6px 0;
}

.image{
    width: 25px;
    height: auto;
}